@charset "UTF-8";

/*RESET*/
html {height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0; padding:0;}
table {border-collapse:separate;}
fieldset,img {border:0;}
address,caption,cite,code,dfn,th,var {font-style:normal; font-weight:normal;}
em,strong{}
ol,ul {list-style:none;}
caption {text-align:center;}

h1,h2,h3,h4,h5,h6 {font-size:100%; margin:0; padding:0;}
q:before,q:after {content:'';}
abbr,acronym { border:0;}

/*MAIN*/
body {font-size:13px; color:#555; font-family:arial,sans-serif; background-color:#f5f9fa;}
a {-moz-transition:all .1s ease; color:#555; outline:none; text-decoration:none;}
a:hover {color:#333;}
img {border: none; vertical-align:top;}
p {padding:0;}
.cl {clear:both; line-height:0;}
.fl {float:left;}
.fr {float:right;}
.loader {height:190px; background:transparent url(../images/loader.gif) scroll no-repeat 50% 50%;}
.jnotif {position:fixed; top:0; left:50%; width:300px; text-align:center; padding:20px; margin:0 0 0 -170px; border-radius:0 0 5px 5px;}
#jerror {background-color:#cd3c3c; color:#FFF;}
#jsuccess {background-color:#8dc73f; color:#FFF;}
.noResults {background-color:#eef4f5; font-size:14px; padding:20px; border-bottom:solid 1px #BAD4E3; text-align:center;}


h1 {font-size:16px; font-weight:normal; color:#eee; line-height:55px; }
h1 span {text-transform:uppercase; font-weight:bold; color:#BAD4E3; padding:0 20px 0 0; margin:0 20px 0 0 ; border-right:solid 1px #555; font-size:14px;}
h2 {font-size:14px;}
h3 {font-size:14px; line-height:20px;}

/*SPRITE*/
.statsVie, .statsDow, .statsVis {background-image: url(../images/statsIcos.png); background-repeat:no-repeat;}
.jtooltip, .cmsAdd, .cmsEdit1 {padding:0 0 0 25px; background:transparent url(../images/linkIcos.png) scroll no-repeat 0 0;}
.cmsAdd {background-position:0 0;}
.cmsAdd:hover {background-position:0 -20px;}
.cmsEdit1 {background-position:0 -40px;}
.cmsEdit1:hover {background-position:0 -60px;}
 .ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next, .cmsEdit, .cmsDelete, .cmsInfo { width:22px; height:22px; display:inline-block; background-image: url(../images/cmsIcos.png);}
.cmsEdit {background-position:-22px 0;}
.cmsEdit:hover  {background-position:-22px -22px;}
.cmsDelete {background-position:0 0;}
.cmsDelete:hover {background-position:0 -22px;}
.cmsInfo {background-position:0 -88px;}
.cmsInfo:hover  {background-position:-22px -88px;}
.jtooltip {background-position:0 -80px; display:block; line-height:20px;}
.jtooltip:hover {background-position:0 -100px;}

/*FORMS*/
input[type=text], input[type=password], textarea {-moz-transition:all .2s ease-in; padding:5px; background-color:#FDFDFD; border: 1px solid #D6D6D6; font-family: Arial,Helvetica,sans-serif; font-size:13px; width: 200px; box-shadow: 0 0 2px rgba(200, 200, 200, 0.3) inset;}
input[type=text]:focus, input[type=password]:focus, textarea:focus {background-color:#FFF; box-shadow: 0 0 2px rgba(200, 200, 200, 0.5);}

select {padding:4px 5px; background-color:#FDFDFD; border: 1px solid #D6D6D6; font-family: Arial,Helvetica,sans-serif; font-size:13px; width: 200px; box-shadow: 0 0 2px rgba(200, 200, 200, 0.3) inset;}
select:focus {background-color:#FFF; }

input[type=submit] {-moz-transition:all .1s ease-in; color:#FFF; border:solid 1px #FB7502; padding:10px 25px; border-radius:3px; background-color:#FB9F11; background-image:-moz-linear-gradient(center top , #FB9F11, #FB7502); font-family: Arial,Helvetica,sans-serif; font-size:14px; font-weight:bold; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0); box-shadow:0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.4) inset;}
input[type=submit]:hover {cursor:pointer; background-image:-moz-linear-gradient(center top , #FBA92A, #FB7502);}

.warning {border-color:#cd090f !important;}
.warningTr {background-color:#fee7e0; color:#cd090f;}

/*CMS BUILD*/
.login {width:340px; padding:30px; background-color:#FFF; border:solid 1px #BAD4E3; box-shadow:0 0 2px #CCC; position:fixed; top:150px; left:50%; margin:0 0 0 -200px;}
.login td {padding:5px;}

.headerLogin {background-color:#333; padding:20px 0; text-align:center;}
.header {background-color:#333; padding:0 50px 0 220px; min-width:760px; position:relative; overflow:hidden;}
.wrapper {padding:0 50px 50px 0; overflow:hidden;}
.sidebar {width:200px; float:left; padding:60px 0 0;}
.content {background-color:#FFF; margin:0 0 0 200px; border:solid 1px #bad4e3; border-top:none; min-width:780px; min-height:500px; position:relative; box-shadow:0 0 5px #CCC;}
.footer {margin:0 0 0 200px;  min-width:780px; text-align:center; padding:20px 0 0;}

ul.mainNav {overflow:hidden; border-top:solid 1px #bad4e3;}
ul.mainNav li {border-bottom:solid 1px #bad4e3; text-align:right;}
ul.mainNav li a {display:block; color:#555; font-size:14px; padding:10px 20px 10px 10px;}
ul.mainNav li a:hover {color:#333; background-color:#eef4f5;}
ul.mainNav li .active {color:#333; background:#eef4f5 url(../images/navActive.png) scroll no-repeat 100% 50%;}

ul.headerNav {overflow:hidden; float:right;}
ul.headerNav li {float:left; font-size:14px; color:#FFF; padding:20px 0;}
ul.headerNav li a {display:block; color:#BAD4E3; line-height:20px; padding:0 20px; border-left:solid 1px #555;}
ul.headerNav li a:hover {color:#FFF;}
ul.headerNav li.first  {margin-right:20px;}
ul.headerNav li.active {background:transparent url(../images/navActive1.png) scroll no-repeat 50% 100%;}
ul.headerNav li.active a {color:#FFF;}

ul.addTop {padding:20px; border-bottom:solid 1px #BAD4E3; overflow:hidden;}
ul.addTop li {float:left; padding:0 5px 0 0; }
ul.addTop li a {line-height:20px; font-size:14px; display:block;}

.addContent {padding:20px;}
.addContent td, .addContent1 td {padding:5px;}
.addContent th {text-align:left; padding:10px 5px; border-bottom:solid 1px #BAD4E3;}
.addContent1 {padding:20px 0;}
.addContent .trSpec {display:block; padding:10px; margin:5px 0; border:solid 1px #BAD4E3;}

ul.ui-tabs-nav {background-color:#EEF4F5; padding:19px 20px 0; height:41px;}
ul.ui-tabs-nav li {float:left; }
ul.ui-tabs-nav li a {padding:10px 40px; color:#555; display:block; line-height:24px;}
ul.ui-tabs-nav li a:hover {color:#333;}
ul.ui-tabs-nav li.ui-state-active a {line-height:22px; padding:10px 39px 9px; background-color:#FFF; border:solid 1px #BAD4E3; border-bottom:none; position:relative;}
.ui-tabs-panel {border-top:solid 1px #BAD4E3;}
.ui-tabs-hide {display:none;}

.ui-datepicker {overflow:hidden; background-color:#f5f9fa; box-shadow:0 0 5px #CCC;}
.ui-datepicker table {border-collapse:collapse; border:solid 1px #BAD4E3; border-bottom:none; border-right:none;}
.ui-datepicker th {border:solid 1px #BAD4E3; border-top:none; border-left:none;}
.ui-datepicker th span {display:block; width:30px; line-height:25px; text-align:center;}
.ui-datepicker td {border:solid 1px #BAD4E3; border-top:none; border-left:none;}
.ui-datepicker td a {display:block; color:#555; width:30px; line-height:30px; text-align:center;}
.ui-datepicker td .ui-state-hover {background-color:#FFF; color:#333;}
.ui-datepicker td .ui-state-highlight {background-color:#D2E3EB;}
.ui-datepicker td .ui-state-active {background-color:#8dc73f; color:#FFF;}
.ui-datepicker .ui-datepicker-header {border:solid 1px #BAD4E3; border-bottom:none; background-color:#D2E3EB; position:relative;}
.ui-datepicker .ui-datepicker-title {text-align:center; line-height:22px;}

.ui-datepicker .ui-datepicker-next {background-position:0 -44px; right:0;}
.ui-datepicker .ui-datepicker-next:hover {background-position:-22px -44px;}
.ui-datepicker .ui-datepicker-prev {background-position:0 -66px; left:0;}
.ui-datepicker .ui-datepicker-prev:hover {background-position:-22px -66px;}
.ui-datepicker .ui-datepicker-next, .ui-datepicker .ui-datepicker-prev {position:absolute; top:0; cursor:pointer;}
.ui-datepicker .ui-datepicker-next span, .ui-datepicker .ui-datepicker-prev span {display:none;}

.ui-tooltip {background-color:#eef4f5; font-size:14px; display:block; position:absolute; padding:5px 10px; border:solid 1px #BAD4E3; box-shadow:0 0 5px #CCC;}

.statistics {border-bottom:solid 1px #BAD4E3; padding:15px 5px; height:180px}
ul.stats {overflow:hidden; padding:15px; width:350px; float:left; line-height:20px; text-transform:uppercase; color:#AAA;}
ul.stats > li {font-size:14px; font-weight:bold; padding:5px 0; overflow:hidden; }
ul.stats > li span {font-size:20px; padding:0 0 1px 25px; margin:0 0 2px; border-bottom:solid 2px #009dd7; display:block; color:#555;}
ul.stats ul > li {float:left; margin-right:30px; font-size:14px; width:160px;}
ul.stats ul > li span {font-size:14px;}
ul.stats ul > li.last {margin:0; width:160px;}

.statsVis {background-position:-2px -23px;}
.statsDow {background-position:-2px -1px;}
.statsVie {background-position:-2px -45px;}

ul.listing {overflow:hidden;}
ul.listing li {float:left; padding:0 10px 10px; margin:0 20px 0 0; border:solid 1px #BAD4E3;}

.dataTableSortable tr {background-image: url(../images/move.png); background-repeat:no-repeat; background-position:50% 50%;}