/* 
    Document   : default
    Created on : Oct 5, 2011, 1:26:27 PM
    Author     : dusan
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

